*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
html,body,.container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f2f2f2;
}
html{
	font-size: 62.5%;
}
.container{
	-webkit-flex-direction:column;
	display: -webkit-flex;
	header{
		width: 100%;
		height: 44px;
		position: relative;
		box-shadow: 1px 1px 10px #ccc;
		background: #fff;
		a{
			position: absolute;
			top: 10px;
			left: 13px;
			img{
				width: 13px;
				height: 21px;
			}
		}
		h1{
			text-align: center;
			line-height: 44px;
			font-weight: bolder;
		}
	}
	section{
		-webkit-flex:1;
		overflow: scroll;
		.uls{
			margin-top: 12px;
			width: 100%;
			height: 87px;
			background: #fff;	
			ul{
				width: 100%;
				height: 46px;
				display: -webkit-flex;
				background: #fff;
				
				width: 100%;
					li{
						line-height:46px;
						list-style: none;
						-webkit-flex:1;
						text-align: center;
						border:1px solid #ccc;
						border-right: none;
						border-radius: 0 10px 0 0;

					}
					li:hover{
						border: 1px solid red;
						color: red;
					}
				}
		}
		.num{
			background: #fff;
			width: 100%;
			box-shadow: 1px 1px 10px #ccc;
			border: none;
			height: 171px;
			text-align: center;
			p{
				width: 100%;

				text-align:center;
				line-height: 50px;
				button{
					width: 30px;
					height: 30px;
					background: red;
					color:#fff;
					border: none;
				}
				input{
					width: 40px;
					height: 30px;
				}
				/* span{
					line-height: 50px;
					display: inline-block;
					padding-top: 20px;
					float: left;
				} */
				
				/* img{
					float: left;
					width: 29px;
					height: 29px;
					
				} */
				/* input{
					float: left;
					width: 50px;
					height: 29px;
					border-radius: 5px;
					border: none;
					border: 1px solid #ccc;
					text-align: center;
					font-size: 16px;
					font-weight: bolder;
				} */
			}
			div{
				margin-top:33px; 
				span{
					color:#666;
				}
				b{
					display: inline-block;
					width: 12px;
					height: 12px;
					img{
						width: 100%;
						
						
						margin-top: 12px;
					}
				}
			}
		}
		.wen-zi{
			width: 100%;
			background: #fff;
			box-shadow: 1px 1px 10px #ccc;
			margin-top: 14px;
			h2{
				line-height:47px; 
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding-left: 12px;
			}
			p{
				width: 100%;
				height: 100%;
				line-height:47px; 
				padding-left: 12px;
				border-bottom: 1px solid #ccc;
				small{
					width: 172px;
					height: 100%;
				}
				span{
					font-weight: bolder;
					padding-left: 12px;
				}
			}
		}
	}
	footer{
		width: 100%;
		height: 44px;
		display: -webkit-flex;
		
		.btn1{
			width: 50%;
			height: 44px;
			border-radius: 5px;
			border: 1px solid #ccc;
			border: none;
			color: #000;
			background: #fff;
		}
		.btn2{
			width: 50%;
			height: 44px;
			border-radius: 5px;
			background: red;
			border: none;
			color: #fff;
		}
	}
}